body{background-color: #00fdc8;
	background-image: url(pao.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 60%;
	background-position: center;}



*{margin: 0;
	padding: 0;}



img{float: left;
	padding-left: 20px;}

nav {
    list-style-type: none;
	overflow: hidden;
	background-color: #59FBDD;}






ul {list-style-type: none;
    margin: 0;
	padding-bottom: 7px;
	padding-top: 6px;
	overflow: hidden;
	background-color: #59FBDD;
	}


li {float: left; font-family: 'Amatic SC', cursive;list-style-type: none;}



li a {display: block;
	color: black;
	text-align: center;
	padding: 16px;
	margin-left: 20px;
	margin-top: 30px;
	text-decoration: none;
	font-size: 25px;
	text-shadow: #286859 0.0em 0.0em 0.1em;
    list-style-type: none;
}



#login {float: right;
		font-size: 10px;
		padding-right: 30px}



#cadastro{float: right;
			font-size: 10px;}



#login a{font-size: 20px;
			margin-top: 0px;}



#cadastro a{font-size: 20px;
			margin-top: 0px;}


#nome{color: black; font-size: 88px;
		padding: 0px;
		margin-top: 0px;
		margin-left: 100px;
		text-shadow: #286859 0.0em 0.0em 0.1em;
		text-align: center;}


header{text-align: center;
		font-size: 60px;
		margin-right: 600px;
		margin-left: 600px;
		font-family: 'Amatic SC', cursive;
		text-shadow: #286859 0.0em 0.0em 0.1em}



li a:hover {background-color: #18C79D;
			border-radius: 20px;}



*{margin: 0; padding: 0;}



article{width: 700px;
		background-color: #C1FCED;
        float: left;
		margin: 20px 0px 20px 200px;
		padding: 20px;
		font-family: 'Amatic SC', cursive;
		font-size: 30px;
		border-radius: 10px;
		line-height: 55px;
		opacity: 0.95}


.container{ width: 900px;
			margin: auto;
			padding: 20px;}

#totalesquerda{padding: 20px 0px 20px 0px;}

#esquerda{background-color: #C1FCED;
			opacity: 0.95;
 			min-height: 200px;
 			width: 100%;
 			float: left;
 			text-align: center; 
 			font-family: 'Amatic SC', cursive; 
 			color: black; 
 			margin-bottom: 20px; 
 			padding: 10px; 
 			font-size: 20px;
 			border-radius: 10px;}


#texto { font-family: 'Amatic SC', cursive;
		font-size: 30px; }

#titulo {  font-family: 'Amatic SC', cursive;
		font-size: 30px;
		margin-bottom: 90px;
		padding: 20px; 
		background-color: white;
		border-radius: 10px;}

a { text-decoration: none; }


#link { text-decoration: underline; }


